<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.jcxa.safe.dao.ZanDao">
	<insert id="addzan" parameterType="Zan" >
		insert into tzan(id,uid,vid,addtimes) 
		values(null,#{uid},#{vid},#{addtimes})
	</insert>
	<!--删除视频点赞总数-->
	<delete id="deleteZanvo" parameterType="java.lang.Integer">
		delete from tzan where uid=#{0} and vid=#{1}
	</delete>
	<!--增加或减少视频点赞数量-->
	<update id="addvideo" parameterType="java.lang.Integer">
		update seriesvideo set
		ZanCts=#{0}
		where ID=#{1}
	</update>
	<!--查询视频点赞总数-->
	<select id="selectZanV" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select ZanCts from seriesvideo where ID=#{ID}
	</select>
		<!--按照用户和不同的功能查询是否点赞-->
	<select id="selectVideo" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select count(1) from tzan where uid=#{0} and vid=#{1}
	</select>

</mapper>