html,
body {
  height: 100%;
}
@keyframes rotate-singerimg {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-singerimg {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes rotate-singerimg {
  100% {
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-singerimg {
  100% {
    -moz-transform: rotate(360deg);
  }
}
.wx_wrap {
  height: 100%;
}
.wx_wrap .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../../img/audio/audio01.jpg") no-repeat center;
  background-size: cover;
  filter: blur(0.82rem);
  -webkit-filter: blur(0.82rem);
  background-position: 0 50%;
}
.wx_wrap .bgblack {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 15rem;
  height: 2rem;
  padding-top: 1rem;
}
.header .prev_btn {
  width: 1rem;
  height: 1rem;
  margin-left: 0.8rem;
  background: url(../../img/audio/prevhome.png) no-repeat center;
  background-size: 1rem 1rem;
  -webkit-background-size: 1rem 1rem;
}
.header .prev_btn a {
  display: block;
  width: 100%;
  height: 100%;
}
.section {
  width: 15rem;
  height: 11.5rem;
}
.section .audio_center {
  width: 15rem;
  height: 100%;
  position: relative;
  padding-top: 0.9rem;
}
.section .audio_center .audio_singer {
  width: 15rem;
  height: 100%;
  padding-top: 0.6rem;
}
.section .audio_center .audio_singer .singerimg {
  width: 8.4rem;
  height: 8.4rem;
  margin: 0 auto;
  padding: 0.2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.section .audio_center .audio_singer .singerimg img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.section .audio_center .audio_singer .singerimg .anmiting {
  animation: rotate-singerimg 20s linear infinite;
  -webkit-animation: rotate-singerimg 20s linear infinite;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
}
.section .audio_center .audio_singer .singerimg .anmitnomal {
  animation: rotate-singerimg 20s linear infinite;
  -webkit-animation: rotate-singerimg 20s linear infinite;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
}
.section .audio_center .lrc_mask {
  display: none;
  width: 15rem;
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.6) 15%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0.6) 85%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.6) 15%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0.6) 85%, rgba(255, 255, 255, 0) 100%);
}
.section .audio_center .lrc_mask .audio_lrc {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 1.5rem;
}
.section .audio_center .lrc_mask .audio_lrc ul {
  width: 100%;
  height: auto;
}
.section .audio_center .lrc_mask .audio_lrc ul li {
  width: 100%;
  min-height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.56rem;
  color: #fff;
}
.sel_title {
  width: 15rem;
  height: 4.2rem;
  padding-top: 1rem;
  position: absolute;
  left: 0;
  bottom: 6.8rem;
  z-index: 100;
}
.sel_title h5 {
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  color: #fff;
  font-size: 0.64rem;
  margin-bottom: 0.4rem;
}
.sel_title h6 {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: #fff;
  font-size: 0.56rem;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 6.8rem;
}
.footer .foot_con {
  width: 100%;
  height: 6.8rem;
  position: relative;
}
.footer .foot_con .process {
  width: 100%;
  height: 0.8rem;
  padding: 0 0.8rem;
}
.footer .foot_con .process #currentTime {
  float: left;
  width: 1.4rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
  margin-right: 0.4rem;
}
.footer .foot_con .process #process-bar {
  float: left;
  width: 10rem;
  height: 0.8rem;
  position: relative;
}
.footer .foot_con .process #process-bar #process-all {
  position: absolute;
  left: 0;
  top: 0.34rem;
  width: 10rem;
  height: 0.12rem;
  cursor: pointer;
  background-color: #615D5C;
  border-radius: 0.16rem;
  -webkit-border-radius: 0.16rem;
}
.footer .foot_con .process #process-bar #process-cur {
  position: absolute;
  left: 0;
  top: 0.34rem;
  height: 0.12rem;
  border-radius: 0.16rem;
  -webkit-border-radius: 0.16rem;
  background-color: #DF5555;
}
.footer .foot_con .process #process-bar #process-cur #cur-btn {
  cursor: pointer;
  position: absolute;
  left: 0;
  margin-left: -0.34rem;
  top: -0.34rem;
  width: 0.7rem;
  height: 0.7rem;
  background: url(../../img/icon/oval.png) no-repeat;
  background-size: 0.7rem 0.7rem;
  -webkit-background-size: 0.7rem 0.7rem;
  -webkit-filter: brightness(0.9);
}
.footer .foot_con .process #total-time {
  float: right;
  width: 1.4rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
}
.footer .foot_con .loop {
  position: absolute;
  left: 1rem;
  bottom: 2.6rem;
  width: 1.12rem;
  height: 0.72rem;
  background: url("../../img/audio/xj_icon.png") no-repeat center;
  background-size: 1.12rem 0.72rem;
  -webkit-background-size: 1.12rem 0.72rem;
}
.footer .foot_con .prev_btn {
  position: absolute;
  left: 3.7rem;
  bottom: 2.5rem;
  width: 1.04rem;
  height: 1.04rem;
  background: url("../../img/audio/prev_btn.png") no-repeat center;
  background-size: 1.04rem 1.04rem;
  -webkit-background-size: 1.04rem 1.04rem;
}
.footer .foot_con .playing_btn {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  margin-left: -1.02rem;
  width: 2.04rem;
  height: 2.04rem;
  background: url("../../img/audio/play_stop.png") no-repeat center;
  background-size: 2.04rem 2.04rem;
  -webkit-background-size: 2.04rem 2.04rem;
}
.footer .foot_con .next_btn {
  position: absolute;
  left: 10.3rem;
  bottom: 2.5rem;
  width: 1.04rem;
  height: 1.04rem;
  background: url("../../img/audio/next_btn.png") no-repeat center;
  background-size: 1.04rem 1.04rem;
  -webkit-background-size: 1.04rem 1.04rem;
}
.footer .foot_con .music_menu {
  position: absolute;
  right: 1rem;
  bottom: 2.6rem;
  width: 1.12rem;
  height: 0.72rem;
  background: url("../../img/audio/lrcicon.png") no-repeat center;
  background-size: 1.12rem 0.72rem;
  -webkit-background-size: 1.12rem 0.72rem;
}
.mask_list {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 15rem;
  height: 100%;
  z-index: 500;
}
.mask_list .mask_cose {
  width: 15rem;
  height: 12.92rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.mask_list .mask_cose h6 {
  width: 15rem;
  height: 2.02rem;
  line-height: 2rem;
  border-bottom: 0.02rem solid #e5e5e5;
  padding: 0 0.8rem;
  text-align: center;
  font-size: 0.72rem;
  color: #fff;
}
.mask_list .mask_cose h6 span {
  color: rgba(251, 237, 237, 0.5);
}
.mask_list .mask_cose .list_con {
  width: 100%;
  min-height: 3.56rem;
  max-height: 8.9rem;
}
.mask_list .mask_cose .list_con ul {
  position: absolute;
  width: 100%;
  min-height: 3.56rem;
  max-height: 8.9rem;
  overflow: auto;
}
.mask_list .mask_cose .list_con ul li {
  width: 100%;
  height: 1.78rem;
  border-bottom: 0.02rem solid #e5e5e5;
}
.mask_list .mask_cose .list_con ul li a {
  display: block;
  width: 100%;
  height: 1.76rem;
  padding: 0 0.8rem;
  color: #fff;
  font-size: 0.6rem;
}
.mask_list .mask_cose .list_con ul li a .lis {
  float: left;
  width: 13rem;
  height: 1.76rem;
  line-height: 1.76rem;
  font-size: 0.6rem;
}
.mask_list .mask_cose .list_con ul li a i {
  float: right;
  width: 0.32rem;
  height: 0.4rem;
  margin-top: 0.7rem;
}
.mask_list .mask_cose .list_con ul .audio_active a {
  color: #2ED92C;
}
.mask_list .mask_cose .list_con ul .audio_active a i {
  background: url("../../img/audio/audioicon.png") no-repeat center;
  background-size: 1.12rem 3.4rem;
  -webkit-background-size: 1.12rem 3.4rem;
  background-position: 0 -1.2rem;
}
.mask_list .mask_cose .lists_close {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 0.72rem;
  color: #fff;
}
