<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/wxpublic/wxpublic.css"/>
<link rel="stylesheet" type="text/css" href="../../css/matertexts/matertexts.css"/>
</head>
<body>
<div class="wx_wrap">
	<div class="texts_con">
		<form action="" method="post">
			<div class="txts">
				<span>输入类</span>
				<input type="text" name="" id="" value="" placeholder="请在此输入"/>
			</div>
			<input type="submit" value="保存" class="txt_btn"/>
		</form>
	</div>
</div>
</body>
</html>
<script type="text/javascript" src="../../jscript/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../../js/wxpublic.js"></script>
<script type="text/javascript">
	
</script>